

li a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: bisque;
  size: 10px;
  display: table-column;
}
ul li {
  list-style: none;
  display: table;
  justify-content: space-around;
  padding-left: 10px;}
  ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 208, 190); 
    size:70px ; 
    text-decoration: none;
    
}