.mainn{
  display: flex;
  flex-direction: row;
 
}
.partenaire {
  border-width:5px;  
  border-style:inset;
  border-color: #cd3e3a;
  margin-top: 50px;
}
.partenaire h2{
  margin-top: 50px;
  font-size: 2rem;
  padding: 10px 3px;
  font-weight: 500;
  line-height: 1.2;
  color: #cd3e3a;
  width: 250px;
}
.partenaire h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;
  padding: 5px 3px;
  font-weight: 500;
  line-height: 1;
  color: gray;
  
}
.containers {
    position: relative;
    width: 400px;
    height: 250px;
  }
  
  .imagee {
    display: block;
    width: 80%;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .overlayy {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .containers:hover .overlayy {
    bottom: 0;
    height: 100%;
  }
  
  .textt {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }